# See: https://projectlombok.org/features/experimental/
lombok.experimental.flagUsage=ERROR

# See: https://projectlombok.org/features/var/
lombok.var.flagUsage=ERROR

# See: https://projectlombok.org/features/val/
lombok.val.flagUsage=ERROR

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
